@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Merriweather:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

body {
    background-color: #FFF;
}

p + p {
   margin-top: .5rem;
}

/*
 will be added here: https://github.com/tailwindlabs/tailwindcss/pull/11320
*/
.text-balance {
    text-wrap: balance;
}